<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <div class="sign_in_holder">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="sign_in_fields">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder:"Email" %>
    </div>
    <div class="actions">
      <%= f.submit "Resend confirmation instructions" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
