<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="sign_in_holder">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="sign_in_fields">
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"Full Name" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email' %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder:'New-password (6 character minimum)'%>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:'Confirm password' %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
