<%= form_with(model: [current_user, current_user.groups.build], multipart: true) do |form| %>
  <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
  <div>
    <h2>Create New Category</h2>
    <div>
      <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
        <% form.object.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <div>
        <%= form.label :icon %><br>
        <%= form.file_field :picture  %>
        <% form.object.errors.full_messages_for(:picture).each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
      <br>
      <div>
        <%= form.submit "Save" %>
      </div>
      <button><%= link_to "Back", :back %></button>
    </div>
  </div>
<% end %>
