<div>
  <div>
    <% @groups.each do |group| %>
      <div>
        <div><%= group.icon %></div>
        <div>
          <h2>
            <%= link_to "#{group.name}", user_group_expenses_path(current_user,group.id)  %>
          </h2>
          <p><%=group.created_at%></p>
        </div>
        <div>
          <h2><%=group.total_amount_by_group(group.id)%></h2>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <button><%= link_to "Add a new category", new_user_group_path(current_user), class: "btn btn-primary" %></button>
  </div>
</div>
