<div>
  <div>
    <div><%=@group.icon%></div>
    <h2>
      <%=@group.name%>
    </h2>
  </div>
</div>
<hr>
<div>
  <% @expenses.each do |expense| %>
    <div>
      <p>Transaction No <%=expense.id%></p>
      <p><%=expense.created_at%></p>
    </div>
    <div>
      <p><%=expense.amount%></p>
    </div>
  <% end %>
</div>
<hr>
<div>
  <h2>TOTAL PAYMENT:<%=@group.total_amount_by_group(@group.id)%></h2>
</div>
<div>
  <button><%= link_to "Add a new transaction", new_user_group_expense_path(current_user,@group), class: "btn btn-primary" %></button>
  <BUtton><%= link_to "Back", :back %></BUtton>
</div>
