<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/proxima-nova-2" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>
  <body class="#eceff1 blue-grey lighten-4 center-align">
    <main class="col s12 m6  blue-grey lighten-5 ">
      <% unless current_page?(splash_path) && current_user.nil? %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%=render 'shared/flash'%>
      <%= yield %>
    </main>
  </body>
</html>
